// HelveticaNeueCyr - BLACK
@font-face {
  font-family: "HelveticaNeue";
  src: url('/assets/fonts/HelveticaNeue.ttf') format('truetype'); /* Safari, Android, iOS */
  src: url('/assets/fonts/HelveticaNeue.ttf') format('truetype'); /* Safari, Android, iOS */
}